.bg {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/images/rent-a-car-bg.png") center/cover no-repeat;
    height: 80vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
